{{ 'custom-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
  {%- style -%}

/* Custom hover button styling */
.custom-hover-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: black;
  color: white;
  padding: 12px 24px;
  border: none !important; /* Border removed */
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden; /* Keeps the hover effect inside the button */
  outline: none; /* Removes default outline */
}

/* Add a subtle shadow on hover */
.custom-hover-button:hover {
  color: black; /* Text color turns black on hover */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

.custom-hover-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* Starts the background off-screen */
  width: 100%;
  height: 100%;
  background-color: #FFF544;
  z-index: -1; /* Ensures background stays behind the text */
  transition: left 0.4s ease; /* Smooth background slide from left to right */
}

.custom-hover-button:hover::before {
  left: 0; /* On hover, the yellow background slides in */
}

.custom-hover-button span,
.custom-hover-button .arrow {
  position: relative;
  z-index: 1; /* Text and arrow stay above the background */
  transition: color 0.3s ease;
}

.custom-hover-button .arrow svg path {
  transition: fill 0.3s ease; /* Smooth transition for arrow color */
}

.custom-hover-button:hover .arrow svg path {
  fill: black; /* Arrow color changes to black on hover */
}

/* Adds keyboard focus state */
.custom-hover-button:focus {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Same shadow effect for focus */
}

/* Adds keyboard "active" state */
.custom-hover-button:active {
  transform: translateY(2px) !important; /* Slight button press effect */
}
    
/* Desktop view */
@media screen and (min-width: 750px) {
  .custom-banner-desktop-transparent .custom-banner__box {
  max-width: {{ section.settings.banner_desktop_max_width }}rem;
}
}

/* Tablet view */
@media screen and (max-width: 749px) and (min-width: 600px) {
.custom-banner-tablet-transparent .custom-banner__box {
  max-width: {{ section.settings.banner_tablet_max_width }}rem;
}
}

/* Mobile view */
.custom-banner-mobile-transparent .custom-banner__box {
  max-width: 100%; /* Full width for mobile */
}

    
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}

{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

  if section.settings.image_behavior == 'ambient'
    assign half_width = '60vw'
    assign full_width = '120vw'
    assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
  elsif section.settings.image_behavior == 'fixed' or section.settings.image_behavior == 'zoom-in'
    assign half_width = '100vw'
    assign stacked_sizes = '100vw'
  else
    assign half_width = '50vw'
    assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  endif
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div
  id="Banner-{{ section.id }}"
  class="custom-banner custom-banner--content-align-{{ section.settings.desktop_content_alignment }} custom-banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} custom-banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} custom-banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} custom-banner--adapt{% endif %}{% if section.settings.show_text_below %} custom-banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} custom-banner-desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
>
  {%- if section.settings.image != blank -%}
    <div class="custom-banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} custom-banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- liquid
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        if section.settings.image_2 != blank
          assign image_class = 'custom-banner__media-image-half'
        endif
        if section.settings.image_2 != blank and section.settings.stack_images_on_mobile
          assign sizes = stacked_sizes
        elsif section.settings.image_2 != blank
          assign sizes = half_width
        else
          assign sizes = full_width
        endif
      -%}
      {{
        section.settings.image
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image.width,
          height: image_height,
          class: image_class,
          sizes: sizes,
          widths: widths,
          fetchpriority: fetch_priority
      }}
    </div>
  {%- elsif section.settings.image_2 == blank -%}
    <div class="custom-banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} custom-banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
  {%- if section.settings.image_2 != blank -%}
    <div class="custom-banner__media media{% if section.settings.image != blank %} custom-banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- liquid
        assign image_height_2 = section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio
        if section.settings.image != blank
          assign image_class_2 = 'custom-banner__media-image-half'
        endif
        if section.settings.image != blank and section.settings.stack_images_on_mobile
          assign sizes = stacked_sizes
        elsif section.settings.image_2 != blank
          assign sizes = half_width
        else
          assign sizes = full_width
        endif
      -%}
      {{
        section.settings.image_2
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image_2.width,
          height: image_height_2,
          class: image_class_2,
          sizes: sizes,
          widths: widths,
          fetchpriority: fetch_priority
      }}
    </div>
  {%- endif -%}
  <div class="custom-banner__content custom-banner__content--{{ section.settings.desktop_content_position }} page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div class="custom-banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2
              class="custom-banner__heading inline-richtext {{ block.settings.heading_size }}"
              {{ block.shopify_attributes }}
            >
              {{ block.settings.heading }}
            </h2>
          {%- when 'text' -%}
            <div class="custom-banner__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
              <p>{{ block.settings.text }}</p>
            </div>
          {%- when 'buttons' -%}
     <div class="custom-banner__buttons">
  {%- if block.settings.button_label_1 != blank -%}
    <a
      {% if block.settings.button_link_1 == blank %}
        role="link" aria-disabled="true"
      {% else %}
        href="{{ block.settings.button_link_1 }}"
      {% endif %}
      class="button {% if block.settings.button_style_secondary_1 %}button--secondary{% else %}button--primary custom-hover-button{% endif %}"
    >
      {{ block.settings.button_label_1 | escape }}
      <span class="arrow">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="13" viewBox="0 0 28 13" fill="none">
          <path d="M1.11108 5.74396L0.361084 5.74396L0.361084 7.24396L1.11108 7.24396L1.11108 5.74396ZM27.1487 7.02429C27.4416 6.7314 27.4416 6.25652 27.1487 5.96363L22.3757 1.19066C22.0828 0.897765 21.6079 0.897765 21.315 1.19066C21.0221 1.48355 21.0221 1.95843 21.315 2.25132L25.5577 6.49396L21.315 10.7366C21.0221 11.0295 21.0221 11.5044 21.315 11.7973C21.6079 12.0902 22.0828 12.0902 22.3757 11.7973L27.1487 7.02429ZM1.11108 7.24396L26.6183 7.24396L26.6183 5.74396L1.11108 5.74396L1.11108 7.24396Z" fill="white"/>
        </svg>
      </span>
    </a>
  {%- endif -%}

  {%- if block.settings.button_label_2 != blank -%}
    <a
      {% if block.settings.button_link_2 == blank %}
        role="link" aria-disabled="true"
      {% else %}
        href="{{ block.settings.button_link_2 }}"
      {% endif %}
      class="button {% if block.settings.button_style_secondary_2 %}button--secondary{% else %}button--primary{% endif %}"
    >
      {{ block.settings.button_label_2 | escape }}
    </a>
  {%- endif -%}
</div>

        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Custom Banner Image",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "First image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Second image"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Image overlay opacity",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to first image"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium",
      "label": "Banner height",
      "info": "For best results, use an image with a 3:2 aspect ratio. [Learn more](https://help.shopify.com/manual/shopify-admin/productivity-tools/image-editor#understanding-image-aspect-ratio)"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "Top Left"
        },
        {
          "value": "top-center",
          "label": "Top Center"
        },
        {
          "value": "top-right",
          "label": "Top Right"
        },
        {
          "value": "middle-left",
          "label": "Middle Left"
        },
        {
          "value": "middle-center",
          "label": "Middle Center"
        },
        {
          "value": "middle-right",
          "label": "Middle Right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom Left"
        },
        {
          "value": "bottom-center",
          "label": "Bottom Center"
        },
        {
          "value": "bottom-right",
          "label": "Bottom Right"
        }
      ],
      "default": "middle-center",
      "label": "Desktop content position"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "Show container on desktop"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Desktop content alignment"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Colors",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Animation"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "ambient",
          "label": "Ambient"
        },
        {
          "value": "fixed",
          "label": "Fixed"
        },
        {
          "value": "zoom-in",
          "label": "Zoom In"
        }
      ],
      "default": "none",
      "label": "Image behavior"
    },
      {
      "type": "range",
      "id": "banner_desktop_max_width",
      "label": "Desktop Content Width",
      "min": 10,
      "max": 110,
      "step": 1,
      "default": 71,
      "unit": "rem",
      "info": "Set the maximum width for banners on desktop screens."
    },
    {
      "type": "range",
      "id": "banner_tablet_max_width",
      "label": "Tablet Content Width",
      "min": 10,
      "max": 100,
      "step": 1,
      "default": 45,
      "unit": "rem",
      "info": "Set the maximum width for banners on tablet screens."
    },
    {
      "type": "header",
      "content": "Mobile Layout"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Mobile content alignment"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "Stack images on mobile"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "Show container on mobile"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Custom Banner Image",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h0",
              "label": "H0"
            },
            {
              "value": "hxl",
              "label": "HXL"
            },
            {
              "value": "hxxl",
              "label": "HXXL"
            }
          ],
          "default": "h1",
          "label": "Heading size"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Give customers details about the banner image(s) or content on the template.",
          "label": "Description"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "Body"
            },
            {
              "value": "subtitle",
              "label": "Subtitle"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "Caption with Letter Spacing"
            }
          ],
          "default": "body",
          "label": "Text style"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "Button label",
          "label": "First button label",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "First button link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "Use outline button style"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "Button label",
          "label": "Second button label",
          "info": "Leave the label blank to hide the button."
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Second button link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "Use outline button style"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Banner Image",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}

{% endschema %}
